---
import AddToCart from './AddToCart'
import { WeedIcon, ClockIcon, WeighIcon, MixIcon } from '@icons/index.astro'

const { product, slug } = Astro.props
---

<article
  class='bg-white sm:w-[65%] w-[90%] sm:min-h-[70%] min-h-[80%] flex sm:flex-row flex-col shadow-2xl shadow-neutral-400 rounded-3xl'
>
  <!--? Container one -->
  <picture class='w-1/3 sm:flex hidden'>
    <img
      src={product?.image}
      alt=`Image of ${product?.title}`
      class='object-cover rounded-l-3xl rounded-r-lg h-full w-full'
    />
  </picture>
  <!--? Container two -->
  <div
    class='flex flex-col items-center justify-around p-5 relative sm:w-2/3 sm:flex-grow-0 flex-grow'
  >
    <AddToCart client:load product={product} />
    <!-- Title -->
    <h1
      class='text-xl font-bold text-neutral-900 sm:w-auto w-full'
      transition:name=`product ${slug} title`
    >
      {product?.title}
    </h1>
    <!-- Description -->
    <p class='sm:max-w-[90%] font-semibold sm:text-[15px] text-[14.5px]'>
      {product?.description}
    </p>
    <!-- Info -->
    <div class='w-full grid grid-cols-2 gap-7 sm:px-5'>
      <!-- part 1 -->
      <picture class='picture'>
        <WeedIcon class='icon text-green-700' />
        <span>{product?.genotype}</span>
      </picture>
      <!-- part 2 -->
      <picture class='picture'>
        <MixIcon class='text-blue-700 icon' />
        <span>{product?.mix}</span>
      </picture>
      <!-- part 3 -->
      <picture class='picture'>
        <ClockIcon class='text-red-700 icon' />
        <span>{product?.time} dias</span>
      </picture>
      <!-- part 4 -->
      <picture class='picture'>
        <WeighIcon class='text-zinc-700 icon' />
        <span>{product?.weight} g/m2</span>
      </picture>
    </div>
  </div>
</article>
<style>
  .picture {
    @apply flex flex-col items-center text-center gap-2 text-sm font-medium;
  }
  .icon {
    @apply size-7;
  }
  span{
    @apply sm:text-base text-xs
  }
  article {
    animation: load;
    animation-duration: 1s;
  }
  @keyframes load {
    from {
      scale: 0;
      translate: 0 100px;
    }
    to {
      scale: 1;
      translate: 0 0;
    }
  }
</style>
